@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script&family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400;1,600&family=Geologica:wght@400;500;800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:wght@400;600;800&family=Orbitron:wght@600&family=Roboto+Mono:wght@400;500&family=Staatliches&family=Tourney:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", "Courier New", Courier, monospace;
}

nav {
  position: sticky;
  transition: top 0.3s ease-in-out;
  top: 0;
  transform-style: preserve-3d;
  display: flex;
  width: 100%;
  z-index: 2;
  align-items: center;
  padding: 15px 100px;
  flex-wrap: nowrap;
  color: #292b2c;
  background: #f1f1f1;
  justify-content: space-between;
}
.logo-img {
  padding-top: 20px;
  height: 6rem;
  /* width: 6rem; */
}
.nav-logo {
  font-weight: 700;
  text-decoration: none;
  list-style: none;
  color: #292b2c;
  font-size: 2rem;
  letter-spacing: 2px;
  transition: transform 0.2s ease-in-out;
}
.nav-logo:hover {
  cursor: pointer;
  color: #292b2c;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  padding: 6px 15px;
  text-transform: uppercase;
  color: #292b2c;
  border-radius: 20px;
}
nav ul li a:hover {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  box-shadow: 0px 2px 5px gray;
  background: #292b2c;
  transition: 0.2s ease-in-out;
}

.header-title {
  display: flex;
  color: white;
  border-top: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
  /* border-radius: 24px; */
  padding: 6px 16px;
  border-color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.header-title h1 {
  padding: 0px 12px;
  font-size: 6rem;
}
#scroll-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 100px;
}

header {
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100vw;
  z-index: -1;
}

.foreground,
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.background {
  /* background-size: cover; */
  /* background-image: url("images/books-background/books-shelf_fc8scg_c_scale,w_1400.jpg"); */
  transform: translateZ(-100px) scale(2);
}
.foreground {
  height: 200%;
  transform: translateZ(-50px) scale(1.5);
}

section {
  transform-style: preserve-3d;
  font-size: 1.4rem;
  padding: 2rem;
  background-color: #f1f1f1;
  color: gray;
}

footer {
  background: #f1f1f1;
}
.footer-top-line {
  margin: 0px 28px;
  /* padding: 10px; */
  border-style: solid;
  /* border-width: 2px; */
  border-color: lightgray;
}

.main-footer {
  margin: 20px 0px;
  height: 25%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.middle-column {
  /* background-color: lightpink; */
  display: flex;
  flex-direction: column;
  /* row-gap: 12px; */
  justify-content: space-evenly;
  align-items: center;
}
.left-column {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  flex-direction: column;
}
.right-column {
  display: flex;
  color: gray;
  row-gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-column div {
  display: flex;
  row-gap: 6px;
  flex-direction: column;
  align-items: center;
}
.left-column h4,
.right-column h4 {
  /* text-decoration: underline; */
  text-transform: uppercase;
  margin-bottom: 8px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6px;
  list-style: none;
}
.footer-links li a,
.right-column div p {
  cursor: pointer;
  font-size: 1rem;
  color: gray;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.footer-links li a:hover,
.right-column div p:hover {
  color: black;
  text-decoration: underline;
}

.invert {
  height: 4rem;
  width: 4rem;
  filter: invert(100%);
}
.copyrights {
  padding: 12px 0px;
  display: flex;
  justify-content: center;
  color: gray;
}
.introduction,
.spotlight {
  display: flex;
  align-items: center;
  text-align: center;
  row-gap: 12px;
  flex-direction: column;
}
.introduction a {
  margin-top: 12px;
  text-decoration: none;
  background-color: #292b2c;
  color: #f1f1f1;
  padding: 8px 16px;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}
.introduction a:hover {
  transform: translate(1px, -2px);
  opacity: 0.9;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); */
}
.introduction a:active {
  opacity: 0.6;
}

.book-grid {
  display: flex;
  width: 100%;
  margin: 40px 0px;
  justify-content: space-evenly;
}
.book {
  width: 132px;
  cursor: pointer;
  position: relative;
}
.book ::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.readers-corner {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reader-info {
  margin-top: 12px;
  position: relative;
  /* animation: rotateQuotes 15s infinite; */
}
.reader-name {
  text-align: end;
}
.broken-grid {
  /* height: 700px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-weight: 500; */
  /* font-style: italic; */
  text-transform: uppercase;
  /* background-color: lightpink; */
}
.quote,
.slot {
  height: 100px;
  width: 100px;
}
.box {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: transform 0.2s ease-in-out;
}

.box:hover {
  transform: scale(1.02);
}
.quote {
  box-shadow: 0px 0px 5px black;
  background: #292b2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  color: #f1f1f1;
  text-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.5);
  /* align-items: center; */
}
.quote p {
  width: 100%;
  /* margin: 12px; */
  height: min-content;
  padding: 0;
  margin-top: 12px;
  font-size: 1rem;
  display: inline;
}
.quote h5 {
  text-align: end;
  margin-right: 20px;
}

.cover img {
  /* height: 100%; */
  width: 100%;
  box-shadow: 0px 0px 5px black;
  object-fit: cover;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px black;
  background: #292b2c;
}
.icons img {
  /* width: 100%; */
  margin: 24px;
  height: 120px;
}
.final-thoughts h2 {
  /* display: flex; */
  text-align: center;
  margin: 20px 40px;
}
.stagger-container {
  display: grid;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(auto, 200px);
  row-gap: 12px;
  column-gap: 12px;
  /* grid-auto-flow: dense; */
}
.stagger-container .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}
.stagger-container .box:nth-child(2),
.stagger-container .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}

.stagger-container .box:nth-child(7) {
  grid-column: span 3;
  grid-row: span 1;
}
.genres {
  text-align: center;
  padding: 32px;
  cursor: default;
}
.genre-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.genre h3 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-weight: 700;
  margin: 0px 20px;
  color: #292b2c;
}
.genre p {
  font-size: 1.2rem;
  margin-top: 6px;
  font-style: italic;
}
.genre-intro {
  margin-top: 32px;
}
/* Best seller Image overlay */

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
}

.image-set {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image-set img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 400px;
  max-height: 450px;
  transition: transform 0.3s;
}

.image-set:hover img {
  transform: scale(1.1);
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
}
.image-overlay h3 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.image-set:hover .image-overlay {
  opacity: 1;
}

.bestseller_detail {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  gap: 20px;
  align-items: flex-start;
}

.bestseller_detail img {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 500px;
}

.main_detail {
  font-size: 1.6vw;
  color: black;
  font-style: italic;
}
.contact-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 12px;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 12px;
  height: 600px;
}
.card-avatar {
  /* height: 40%; */
  width: 80%;
  border-radius: 50%;
}
.card-body {
  border-top: 2px solid lightgray;
  /* background-color: #292b2c; */
  /* color: #f1f1f1; */
}
/* .card:nth-of-type(odd) {
  background-color: lightpink;
}

.card:nth-of-type(even) {
  background-color: lightblue;
} */
.contact-form {
  text-align: center;
  font-size: 1.2rem;
}
.register-form {
  display: flex;
  width: 80%;
  justify-content: center;
  /* background-color: lightblue; */
}
.register-form input {
  /* display: inline-block; */
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
  /* font-size: 14px; */
  color: #333;
}

.register-form button {
  /* display: inline-block; */
  /* margin-top: 12px; */
  margin: 0px 12px;
  padding: 0px 20px;
  border: none;
  border-radius: 20px;
  background-color: #292b2c;
  color: #f1f1f1;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.register-form button:hover {
  opacity: 0.8;
}

.register-form button:active {
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .contact-cards{
    row-gap: 20px;
    grid-template-columns: repeat(2,1fr);
  }
  nav {
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
  }
  .header-title h1 {
    font-size: 5rem;
  }
  nav ul {
    margin: 16px 0px;
  }
  nav ul li {
    margin: 6px 0;
  }
  .stagger-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .stagger-container .box:nth-child(7) {
    grid-column: span 2;
    grid-row: span 1;
  }
  .stagger-container .box:nth-child(3),
  .stagger-container .box:nth-child(6) {
    display: none;
  }
  .genre-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .genre-container .genre {
    margin: 12px 8px;
  }
  .image-set img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 280px;
    max-height: 350px;
    transition: transform 0.3s;
  }
}

@media screen and (max-width: 480px) {
   .contact-cards{
    row-gap: 20px;
    grid-template-columns: 1fr;
  }
  .logo-img {
    border: none;
    display: none;
  }
  .header-title,
  .header-title h1 {
    border: none;
  }
  nav {
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .header-title h1 {
    font-size: 3rem;
  }
  .main-footer {
    grid-template-columns: 1fr;
  }
  .book-grid {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  .middle-column {
    display: none;
  }
  .right-column {
    margin-top: 12px;
  }
  .stagger-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .stagger-container .box:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .genre-container {
    grid-template-columns: 1fr;
  }
  .bestseller_detail {
    grid-template-columns: 1fr;
  }

  .bestseller_detail img {
    max-width: 200px;
    max-height: 300px;
  }

  .undecided_image1_detail {
    margin: 20px;
  }
}
.reader-info {
  animation: rotateQuotes 8s infinite linear;
  opacity: 0; /* Hide all initially */
}

.type__1 {
  animation-delay: 0s;
}

.type__2 {
  animation-delay: 3s;
}

.type__3 {
  animation-delay: 6s;
}

@keyframes rotateQuotes {
  0% {
    transform: translateY(100%);
  }
  10%,
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
