* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: sticky;
  transition: top 0.3s ease-in-out;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 30px 100px;
  background-color: rgba(128, 128, 128, 0.6);
  justify-content: space-between;
}

#nav-logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
nav ul li a:hover {
  text-decoration: none;
  padding: 6px 15px;
  background: #fff;
  color: gray;
}

.header-title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}
#scroll-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  transform-style: preserve-3d;
  z-index: -1;
}

.foreground,
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: fill;
  z-index: -1;
}
.background {
  z-index: -2;
  transform: translateZ(-10px) scale(2);
}
.foreground {
  z-index: -1;
  transform: translateZ(-5px) scale(1.5);
}
section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #f1f1f1;
  color: gray;
}
